<div class="content flex">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="mr-4" for="">Nuevo curso</label>
                <input type="text" [(ngModel)]="newCourse" class="form-input">
                <!--<p>{{newCourse}}</p>-->
            </div>
            <button class="btn btn-primary float-right" (click)="add()">Añadir</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let item of cursos"><b>{{item.id}}</b>-{{item.curso}}</li>    
            </ul>
        </div>
    </div>
</div>